.places {
    padding: 0px 12% 92px 12%;
    overflow: hidden;
}

@media screen and (max-width: 1279px) {
    .places {
        padding: 0px 5% 88px 5%;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        padding: 0px 3% 88px 3%;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 0px 0px 64px 0px;
    }
}