.place__image {
    width: 35vw;
    grid-area: image;
}

@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: 45vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__image {
        width: 43vw;
    }
}