.place__image {
    width: 460px;
    grid-area: image;
}

@media screen and (max-width: 1279px) {
    .place__image {
        width: 43vw;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        width: 45vw;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        min-width: 100%;
    }
}
