.intro__list {
<<<<<<< HEAD
=======
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
>>>>>>> b9de9619516f8703e314da4ef180eb1867c32852
    padding: 0px;
}