.place__website__link {
    margin-top: 12px;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__website__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s linear;
}