.photo-grid__item {
    width: 22.5vw;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        width: 30vw;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        width: 46vw;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        width: 90vw;
    }
}
