.photo-grid__item {
    width: 288px;
    min-height: 213px;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        width: 30vw;
        min-height: 225px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        width: 46vw;
        min-height: 264px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        width: 90vw;
        min-height: 216px;
    }
}
