.place__paragraph {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px;
}

.place__paragraph:nth-child(2) {
    margin-top: 24px;
}

<<<<<<< HEAD
=======
@media screen and (max-width: 767px) {
    .place__paragraph:nth-child(2) {
        margin-top: 18px;
    }
}

>>>>>>> b9de9619516f8703e314da4ef180eb1867c32852
@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0vw 5vw 0vw 5vw;
    }
<<<<<<< HEAD
}

@media screen and (max-width: 767px) {
    .place__paragraph:nth-child(2) {
        margin-top: 18px;
    }
=======
>>>>>>> b9de9619516f8703e314da4ef180eb1867c32852
}