.footer__links-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__links-list {
        flex-direction: column;
    }
}